@media screen and (min-width: 1200px) {
  .container {
    max-width: 1128px;
  }
  
  .hero
  {padding-top: 188px;
    padding-bottom: 188px;}

  .section-features{
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .icon-features {
    display: flex;
    gap: 24px;
    margin-bottom: 8px;
  }

  .icon-item-features {
    width: calc((100% - 72px) / 4);
    height: 112px;
  }
  .icon-link-features {
    width: 100%;
    height: 100%;
    border: 1px solid var(--team-section-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--team-section-color);
  }
  .features-list {
    display: flex;
    gap: 24px;
  }
  .features-list-title {
    flex-basis: calc((100% - 72px) / 4);
  }
  .section-work {
    display: block;
    padding-top: 0;
  }

  .work-list {
    display: flex;
    gap: 24px;
  }
  .work-list-title {
    flex-basis: calc((100% - 72px) / 3);
  }
  .section-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
  
  .team-list-title{
    flex-basis: calc((100% - 72px) / 4);
  }
  .section-customers {
    padding-top: 56px;
    padding-bottom: 120px;
  }
  .list-customers {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
  }

  .item-customers {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }
  
  .container-footer {
  flex-direction: unset;
  justify-content: flex-start;
  gap:0;
   
}
.footer-text {
  min-width: 264px;
  margin-right: 120px;
}
.suptitle-footer {
  max-width: 264px;
  margin-top: 16px;
}
.social-media {
  min-width: 208px;
}
.footer-form {
  margin-left: auto;
}
.form {
  width: 453px;
  height: 80px;
}
.form-field {
  flex-direction: unset;
  gap: 24px;
  
}
.form-input {
  min-width: 264px;

  
}



}