@media screen  and ( min-width:1200px ) {
    .container{
        max-width: 1128px;
    }
     
    .features-list {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
    }
    .features-list-title{
        flex-basis: calc((100% - 72px) / 4);
    }
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
      }

    }