:root {
  --primery-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #404bbf;
  --primery-background-color: #ffffff;
  --secondary-background-color: #4d5ae5;
  --third-text-color: #ffffff;
  --additional-color: #e7e9fc;
  --based-background-color: #e5e5e5;
  --team-section-color: #f4f4fd;
  --linear-gradient-bg: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
  --border-color: #8e8f99;
  --hover-footer-color: #31d0aa;
  --time-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --modal-window: #fcfcfc;
  --color-checkbox: #757575;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  background-color: var(--primery-background-color);
}

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
input {
  padding: 0;
}
/* ===================HEADER================================ */

/* menu */
.top-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 2px solid var(--based-background-color);
}
.top-header-container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.container-logo {
  margin-right: 76px;
}
.menu {
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  position: relative;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--title-text-color);
  transition: color var(--time-cubic);
}
.current::after {
  content: '';
  position: absolute;

  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  bottom: -32px;
  left: 0;
}

.contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contact-div {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contact-mail {
  margin-right: 30px;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.mail,
.number {
  font-size: 16px;
  line-height: 1.5;
  color: var(--primery-text-color);
  transition: color var(--time-cubic);
}
.mail:hover,
.number:hover,
.mail:focus,
.number:focus {
  color: var(--accent-color);
}

/* ===================/HEADER================================ */
/*===================== COMPONENTS =================*/
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-background-color);
}
.logo .logo-studio-up {
  color: var(--title-text-color);
}
.logo .logo-studio-down {
  color: var(--third-text-color);
}
/* button */
.modal-btn {
  min-width: 169px;
  letter-spacing: 0.04em;
  color: var(--third-text-color);
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--secondary-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  transition: backround-color var(--time-cubic), color var(--time-cubic);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  color: var(--third-text-color);
}
.button {
  border-radius: 4px;
  padding: 12px 24px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--secondary-background-color);
  border: 1px solid #e7e9fc;
  transition: color var(--time-cubic), background-color var(--time-cubic),
    box-shadow var(--time-cubic);
}
.button:hover,
.button:focus {
  color: var(--third-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 72px;
}
.suptitle {
  font-size: 16px;
  line-height: 1.5;
  color: var(--primery-text-color);
}
.caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-bottom: 8px;
}
.suptitle-footer {
  color: var(--additional-color);
}
/* ==================HERO========== */
.hero {
  background-color: var(--title-text-color);
  background-image: var(--linear-gradient-bg), url(../images/people-office.jpg);
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-container {
  max-width: 1440px;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  color: var(--third-text-color);
  max-width: 494px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

/* ===================/HERO================================ */

/*===================== MAIN =================*/
/* ========================PORTFOLIO =============*/
.button-none {
  display: none;
}
.section-buttton {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio {
  max-width: 1158px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.filters-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.filters-button-project:not(:last-child) {
  margin-right: 24px;
}
.content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin-top: 72px;
}
.content-title {
  flex-basis: calc((100% - 72px) / 3);
  transition: box-shadow var(--time-cubic);
}
.content-title:is(:hover, :focus) .overlay {
  transform: translateY(0);
}
.anim-window {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  color: var(--team-section-color);
  background-color: var(--secondary-background-color);
  padding: 40px 32px 0 32px;
  transform: translateY(100%);
  transition: transform var(--time-cubic);
  overflow: auto;
}
.portfolio-card {
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #ffffff;
  border: 1px solid var(--additional-color);
}
.content-title:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
/*  */
/* ========================/PORTFOLIO =============*/
.icon-features {
  display: flex;
  gap: 24px;
  margin-bottom: 8px;
}

.icon-item-features {
  width: calc((100% - 72px) / 4);
  height: 112px;
}
.icon-link-features {
  width: 100%;
  height: 100%;
  border: 1px solid var(--team-section-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--team-section-color);
}

.our {
  opacity: 0;
  display: none;
}

.features-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
}
.features-list-title {
  width: 100%;
  /* flex-basis: calc((100% - 72px) / 4); */
}

.work-list {
  display: flex;

  gap: 24px;
}
.work-list-title {
  flex-basis: calc((100% - 72px) / 3);
}

.team-list {
  display: flex;
  column-gap: 24px;
  order: 0;
}

.team-list-title {
  flex-basis: calc((100% - 72px) / 4);
}
.feature-list .title {
  color: var(--title-text-color);
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
.section-work {
  padding-top: 0;
}
.section-team {
  background-color: var(--team-section-color);
}
.section-team {
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-card {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 16px;
  padding-left: 16px;
  background-color: var(--third-text-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color var(--time-cubic);
}
.team-soc-icon {
  fill: var(--team-section-color);
}
.team-soc-link:is(:hover, :focus) {
  background-color: var(--accent-color);
}
.section-customers {
  padding-top: 56px;
  padding-bottom: 120px;
}

.list-customers {
  display: flex;
  gap: 24px;
}

.item-customers {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.link-customers {
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color var(--time-cubic);
}
.customers-icon {
  fill: var(--border-color);
  transition: fill var(--time-cubic);
}
.link-customers:is(:hover, :focus) {
  border-color: var(--accent-color);
}
.link-customers:is(:hover, :focus) .customers-icon {
  fill: var(--accent-color);
}

/*===================== /MAIN =================*/

/* ===================FOOTER============= */
.footer {
  background-color: var(--title-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.container-footer {
  margin: 0 auto;
  width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
}

.footer-text {
  min-width: 264px;
  margin-right: 120px;
}
.suptitle-footer {
  max-width: 264px;
  margin-top: 16px;
}
.social-media {
  min-width: 208px;
}
.social {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}
.social-icons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}

.social-items {
  width: 40px;
  height: 40px;
}
.social-link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color var(--time-cubic);
}
.icons-footer {
  fill: var(--team-section-color);
}
.social-link:is(:hover, :focus) {
  background-color: var(--hover-footer-color);
}

/* ===================/FOOTER============= */
/* ===================FOOTER-FORM============= */
.footer-form {
  margin-left: auto;
}
.form {
  width: 453px;
  height: 80px;
}

.form-field {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: 16px;
}

.form-input {
  min-width: 264px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  color: var(--third-text-color);
}
.form-field input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  padding-right: 8px 16px;
}

.btn-form {
  min-width: 165px;
  letter-spacing: 0.04em;
  font-size: 16px;
  line-height: 1.5;
  color: var(--third-text-color);
  background-color: var(--secondary-background-color);
  border: 0;
  border-radius: 4px;
  padding: 8px 64px 8px 24px;
}

.icon {
  position: absolute;
  fill: var(--primery-background-color);
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
}

/* ===================/FOOTER_FORM============= */

/* ===================MODAL WINDOW============= */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 550ms linear, visibility 550ms linear;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  min-width: 408px;
  min-height: 576px;
  background-color: var(--modal-window);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-left: 24px;
  padding-right: 24px;
  transition: transform 550ms cubic-bezier(0.48, -0.01, 1, 0.01);
}
.backdrop.is-hidden .modal {
  transform: translate(70%, -75%) rotate(145deg);
}
.btn-modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--additional-color);
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.btn-modal-close:is(:hover, :focus) {
  background-color: var(--accent-color);
}
.btn-modal-close:is(:hover, :focus) .icon-close {
  fill: var(--primery-background-color);
}

.modal-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-align: center;
  margin-top: 72px;
  margin-bottom: 16px;
}
.modal-form {
  outline: transparent;
  margin-bottom: 24px;
}
.modal-item {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
}
.modal-input {
  height: 40px;
  padding-left: 38px;
  padding-top: 11px;
  padding-bottom: 11px;
  margin: 0;
  transition: border var(--time-cubic);
}

.modal-input:focus,
.textarea-modal:focus {
  border: 1px solid var(--secondary-background-color);
}
.modal-input:focus + .modal-icon-input {
  fill: var(--secondary-background-color);
}
.modal-field {
  margin-bottom: 8px;
}
.privacy-form {
  outline: transparent;
}
.check-hidden {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.01em;
  color: #8e8f99;
}
.modal-svg {
  position: relative;
}
.modal-icon-input {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--time-cubic);
}
.textarea-form {
  margin-bottom: 16px;
}
.textarea-modal {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border var(--time-cubic);
}

.textarea-modal::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  padding-right: 16px;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-label {
  display: flex;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: var(--color-checkbox);
  margin-top: 0;
}
.check-policy {
  margin-left: 2px;
  color: var(--secondary-background-color);
}
.checkbox-label span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  margin-right: 8px;
  fill: transparent;
}
.privacy-form:checked + .checkbox-label span {
  border: none;
  background-color: var(--accent-color);
  fill: var(--team-section-color);
}
.check-btn {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

/* .modal-input:not(:focus):not(:placeholder-shown):valid{
  background-color: green;
}
.modal-input:not(:focus):not(:placeholder-shown):invalid{
  background-color: red;
} */
/* ===================/MODAL WINDOW============= */
